[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
peewee = "*"
psycopg2 = "*"
pydantic = "*"
rich = "*"
sanic = "*"

[dev-packages]
flake8 = "*"
flake8-annotations = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
flake8-string-format = "*"
flake8-tidy-imports = "*"
flake8-todo = "*"
flake8-datetimez = "*"
flake8-functions = "*"
flake8-commas = "*"
flake8-continuation = "*"
flake8-comprehensions = "*"
flake8-quotes = "*"
flake8-self = "*"
flake8-raise = "*"
flake8-mutable = "*"
mypy-extensions = "*"

[scripts]
cupid = "python3 -m cupid"
lint = "python3 -m flake8 ."

[requires]
python_version = "3.9"
